<!DOCTYPE html>
<html ng-app="personApp">
<head>
<title>Person Manager</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</head>
<body >
	<div>
		<div id="task-panel">
			<div ng-controller="personManagerController">					
						<input type="text"  ng-model="id"> 						
						<button ng-click="personSelection()">Search</button>
						<input ng-click="personSelection()" type="submit" value="Submit the form">
						<pre> print : {{id}} </pre>
						<p>User name : {{person.name}}</p>
						<p>User surname : {{person.surname}}</p>					
				
			</div>
		</div>
	</div>
</body>
</html>
